@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color:#556;
    overflow-x: hidden;
    font-size: 118%;
    }

.logo, .logoMedium{
    width: 100vw;
    height: 5rem;
    position: fixed;
    z-index: 9998;
    background-image:linear-gradient(to bottom,
          hsl(211.88, 65.98%, 38.04%) 0%,
          hsla(211.88, 65.98%, 38.04%, 0.993) 14.5%,
          hsla(211.88, 65.98%, 38.04%, 0.971) 26.7%,
          hsla(211.88, 65.98%, 38.04%, 0.937) 36.9%,
          hsla(211.88, 65.98%, 38.04%, 0.892) 45.3%,
          hsla(211.88, 65.98%, 38.04%, 0.836) 52.1%,
          hsla(211.88, 65.98%, 38.04%, 0.772) 57.8%,
          hsla(211.88, 65.98%, 38.04%, 0.7) 62.5%,
          hsla(211.88, 65.98%, 38.04%, 0.621) 66.6%,
          hsla(211.88, 65.98%, 38.04%, 0.538) 70.3%,
          hsla(211.88, 65.98%, 38.04%, 0.45) 73.9%,
          hsla(211.88, 65.98%, 38.04%, 0.36) 77.6%,
          hsla(211.88, 65.98%, 38.04%, 0.269) 81.8%, 
          hsla(211.88, 65.98%, 38.04%, 0.178) 86.8%, 
          hsla(211.88, 65.98%, 38.04%, 0.088) 92.7%,
          hsla(211.88, 65.98%, 38.04%, 0) 100%); 
    animation: ascendingLetters 1.5s ease-in-out;
    }

    @keyframes ascendingLetters{
        0%{
            opacity: 0;
            }
        
        50%{
            opacity: .50;
            }
        
        100%{
            opacity: 1;
            }
        }
.logoMedium{
    display: none;
    }

.logo h1, .logoMedium h1{
    color: #fff;
    font-family: 'Sedgwick Ave', cursive;
    letter-spacing: .10rem;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 1vh;
    cursor: pointer;
    transition: all .4s;
    }

.logoMedium h1{
    display: none;
    }  

.logo span, .logoMedium span{
    font-family:'Montserrat', sans-serif;
    letter-spacing: -.1rem;
    }

.subtitleWrapper{
    position: absolute;
    width: 100%;
    top:.5rem;
    }

.subtitle{
    position:relative;
    text-align: center;
    z-index: 9997;
    white-space: nowrap;
    color: #fff;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1.7rem;
    letter-spacing: .1rem;
    transition: all .4s;
    animation: ascendingLetters 1.5s ease-in-out;
    }

.mainNav{
    width: 100vw;
    height: 100vh;
    position: fixed ;
    top: 0 ;
	left: 0 ;
    background-color:rgba(255,255,255, .8) ;
	z-index: 9998 ;
    transform: translate(-100vw) ;
    transition: all .3s;
    }

.mainNav span{
    display: inline-block;
    text-decoration: none;
    color: #223;
    font-size: 1.2rem;
    margin-left: 8vw;
    cursor: pointer;
    }

.mainNav span:hover{
    color: #2c67b0;
    }

.mainNav li{
    margin-top: 3rem;
    }

.mainNav li:first-child{
    margin-top: 8rem;
    }

.mobileBtn{
    width: 3rem;
    height: 3rem;
    display: block;
    position: fixed;
    top: 2vh;
    left: 2vw;
    z-index: 9999;
    background-image: url(ui-img/open-buttom.svg);
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .3s;
    }

#mobileBtn-chk {
    display: none ;
    }

#mobileBtn-chk:checked ~ .mobileBtn {
    transform: rotate(90deg);
    background-image: url(ui-img/close-buttom.svg);
    }
    
#mobileBtn-chk:checked ~ .mainNav {
    transform: translate(0%);
    }

.mobileBtnUncheck{
    transform: translate(-100%);
    } 

.pageHeader img{
    display: block;
    max-width: 100%;
    height: auto; 
    margin-bottom: 4rem;
    border-bottom-left-radius:70rem 12rem;
    }

p{
    padding: 0 7vw;
    margin-bottom: 2rem;
    }

.home p{
    text-align: center;
    }

i{
    padding-right: .5rem;
    }

a{
    text-decoration: none;
    color: rgb(123, 169,140);
    }

span{
    font-weight: bold;
    }

em{
    font-style: italic;
    }

h2, h3, h4{
    padding: 0 7vw;
    color:#223;
    font-weight: 600;
    }

h1{
    padding: 0 7vw;
    color:#223;
    font-size: 2.1rem;
    font-weight: 700;
    }

h2{
    margin: 4rem 0 1.5rem;
    font-size: 1.7rem;
    }

h3{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    }

h4{
    margin-bottom: .8rem;
    font-size: 1.2rem;
    }

section{
    margin-bottom: 8rem;
    }

section h1{
    text-shadow: 1px 1px 5px rgba(255,255,255, .8);
    }
    
article{
    margin-bottom: 3.5rem;
    }
    
.travelBg, .placesBg, .activitiesBg{
    width: 100%;
    height: 30vh;
    line-height: 30vh;
    white-space: nowrap;
    margin-bottom: 1.6rem;
    background-image: url(ui-img/planear-viaje.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.travelBg{
    background-image: url(ui-img/lugares-de-ensueño.jpg);
    }

.activitiesBg{
    background-image: url(ui-img/nueva-york-activities.jpg);
    }

.wrappOfLinks{
    position: relative;
    padding: 0 7vw;
    }

.wrappOfLinks li{
    margin-bottom: 2rem;
    }

.passCard,.metroCard,.openTable{
    display: block;
    max-width: 80%;
    height: auto;
    margin: 5% auto;
    } 

.placesImage{
    display: block; 
    position: relative; 
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 2rem auto;
    }

.placesImage img{
    width:auto;
    height: 100%;
    transition: transform .3s cubic-bezier(.26,.8,.91,.91);
    }

.placesCard iframe{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 2rem;
    }

.broadway, .madison {
    max-width: 400px;
    height: auto;
    margin: 2rem 9vw;
    border: .4rem solid #fff;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 .4rem #aaa;
    cursor: pointer;
    }

.broadway img, .madison img {
    display: block;
    position: relative;
    }

.broadway figcaption, .madison figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color:rgba(0,0,0,0.7); 
    box-sizing:border-box;
    transition: all 0.4s ease-in-out;
    }
    
.broadway figcaption a, .madison figcaption a{
    color: #fff;
    display: block;
    position: relative;
    top: 8vh;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    }

.broadway .linkBroadway a, .madison .linkMadison a{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    }

.wrapperCenter{
    margin: 0 auto;
    width: 70%;
    }

.wrappManhattan{
    position: relative;
    padding-top:75%; 
    height: 0;
    width: 100%;
    }

.wrappManhattan iframe{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

footer{
    width: 100%;
    background-color: #25292e;
    margin: 2rem 0 0;
    }

footer h1{
    font-size: 1.3rem;
    color:  rgb(200, 200, 206);
    padding-top: 1rem;
    font-weight: 500;
    background-color: transparent;
    }

footer .social{
    display: flex;
    justify-content: flex-start;
    margin-left: 9vw;
    }

footer .social .twitter{
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(ui-img/twitter-logo-button.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    }

footer .social .facebook{
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(ui-img/facebook-logo-button.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    }

footer small{
    display: block;
    color:rgb(200, 200, 206);
    text-align: center;
    padding: 1rem;
    border-top: .5px solid rgb(200, 200, 206);
    position: relative;
    }

footer small a{
    color: #fff;
    }

@media(min-width:600px){
    .logo h1{
        display: none;
        }

    .logoMedium{
        display: block;
        height: 8rem;
        }
            
    .logoMedium h1{
        display: block;
        font-size: 3.5rem;
        }

    .subtitleWrapper{
        top:2rem;
        }
    
    .subtitle{
        font-size: 2.7rem;
        }

    .mobileBtn{
        top: 4vh;   
        }
    
    .mainNav span::after{
        content: "";
        display: block;
        height: 3px;
        width: 0;
        transition: all .4s;
        }
    
    .mainNav span:hover::after{
        width: 100%;
        background:#556;
        }

    .placesCard{
        /* CON FLEXBOX NO HACE EL EFECTO MASONRY, PUEDE ARREGLARSE MOVIENDO LOS MARGIN-TOP PERO NO SERIA RESPONSIVE */
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4%;
       

        /* INCOMPATIBLE CON BORDER-RADIUS DE LA IMAGEN PARA HACER LA ANIMACION DE HOVER */
        
        /* column-count: 2;  
        column-gap: 4%;
        padding: 4%; */
        }

    .placesCard h2{
        text-align: center;
        }

    .placesCard p{
        padding:0 2vw;
        }

    .placesCard article{
        width: 47%;
        height: 100%;
        box-shadow: 0 0 .4rem #aaa;
        margin-bottom: 4%;
  
        /* 
        display: inline-block;
        width: 100%;
        box-shadow: 0 0 .4rem #aaa;
        -webkit-column-break-inside: avoid;
        -webkit-backface-visibility: hidden;
        overflow: hidden; */
        }


    }

@media(min-width:1000px){  

    body{
        max-width: 1500px;
        margin: 0 auto;
        }
    
    h1{
        font-size: 2.5rem;
        }

    /* .placesCard{
    column-count: 3;
    } */
    

    .placesCard h2{
        white-space: nowrap;
        padding: 0;
        }

    .placesCard article{
        width: 31%;
        }
 
    .placesImage img:hover{
        transform: scale(1.2);
        }

    .broadway:hover figcaption, .madison:hover figcaption{
        opacity: 1;
        }

    .mobileBtn{
        display: none;
        }
   
    .mainNav{
        position: fixed ;
        top: 0 ;
        left: 0 ;
        background-color:transparent ;
        z-index: 9998 ;
        transform: translate(0) ;
        }

    .mainNav ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        }

    .mainNav li{
        margin-top:0;
        }
    
    .mainNav li:first-child{
        margin-top:0;
        }
        
    .mainNav span{
        margin-left:0;
        color: #fff;
        }
        
    .mainNav span:hover{
        color:#223;
        }

    .mainNav span::after{
        display: none;
        } 
    
     .mainNav span:hover::after{
       display: none;
        }







    





   
        

}






