@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color:#556;
    }

.subtitleWrapper{
    position: absolute;
    width: 100%;
    top:2%;
    }

.subtitle{
    position:relative;
    text-align:center;
    }

.subtitle a{
    color:#fff;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    }

.logo{
    width: 100vw;
    height: 23vh;
    position: fixed;
    z-index: 9998;
    background-image:linear-gradient(to bottom,
          hsl(211.88, 65.98%, 38.04%) 0%,
          hsla(211.88, 65.98%, 38.04%, 0.993) 14.5%,
          hsla(211.88, 65.98%, 38.04%, 0.971) 26.7%,
          hsla(211.88, 65.98%, 38.04%, 0.937) 36.9%,
          hsla(211.88, 65.98%, 38.04%, 0.892) 45.3%,
          hsla(211.88, 65.98%, 38.04%, 0.836) 52.1%,
          hsla(211.88, 65.98%, 38.04%, 0.772) 57.8%,
          hsla(211.88, 65.98%, 38.04%, 0.7) 62.5%,
          hsla(211.88, 65.98%, 38.04%, 0.621) 66.6%,
          hsla(211.88, 65.98%, 38.04%, 0.538) 70.3%,
          hsla(211.88, 65.98%, 38.04%, 0.45) 73.9%,
          hsla(211.88, 65.98%, 38.04%, 0.36) 77.6%,
          hsla(211.88, 65.98%, 38.04%, 0.269) 81.8%, 
          hsla(211.88, 65.98%, 38.04%, 0.178) 86.8%, 
          hsla(211.88, 65.98%, 38.04%, 0.088) 92.7%,
          hsla(211.88, 65.98%, 38.04%, 0) 100%); 
          animation: ascendingLetters 1.5s ease-in-out;
    }

@keyframes ascendingLetters{
    0%{
        opacity: 0;
        }
    
    50%{
        opacity: .50;
        }
    
    100%{
        opacity: 1;
        }
    }  

.logo a{
    color: #fff;
    font-family: 'Sedgwick Ave', cursive;
    letter-spacing: .10rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: -1.5rem;
    line-height: 1;
    }

.logo span{
    font-family:'Montserrat', sans-serif;
    letter-spacing: -.1rem;
    }

.logo span:last-child{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .10rem;
    }

.menu{
    width: 80vw;
    position: fixed ;
    top: 0 ;
	left: 0 ;
	background-color:#fff ;
	z-index: 9998 ;
	border-left: 1px solid #E3E3E3 ; 
	transform: translate(-100vw) ;
    transition: all .4s ;
    }

.menu a{
    display: block;
    text-decoration: none;
    color: #223;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 7vw;
    padding-bottom: 1.5vh;
    }

.menu a:hover{
    color: rgb(123, 169,140);
    }

.menu a:active{
    transform: translateX(1rem);
    }

.menu li:first-child{
    margin-top: 13vh;
    }
.menu li:last-child{
    margin-bottom: 3vh;
    }

.mobileBtn{
    width: 10vw;
    height: 10vw;
    display: block;
    position: fixed;
    top: .8rem;
    left: .9rem;
    z-index: 9999;
    background-image: url(ui-img/open-buttom.svg);
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .3s;
    }

#mobileBtn-chk {
    display: none ;
    }

#mobileBtn-chk:checked ~ .mobileBtn {
    transform: rotate(90deg) ;
    background-image: url(ui-img/close-buttom.svg) ;
    }
    
#mobileBtn-chk:checked ~ .menu {
    transform: translate(0%) ;
    }

.pageHeader img{
    display: block;
    max-width: 100%;
    height: auto; 
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 3rem;
    }
/*     
.mousewheel {
    position: absolute ;
    top: 40% ;
    left: 50% ;
    transform: translateX(-50%) ;
    width: 1.5rem ;
    height: 2.5rem ;
    border-radius: 2rem ;
    border: .15rem solid #223 ;
    z-index: 1 ; 
    cursor: pointer;
    }
    
.mousewheel::after {
    content: "" ;
    width: .15rem ;
    height: .7rem ;
    border-radius: 3rem ;
    background-color: #223 ;
    position: absolute ;
    left: 50% ;
    margin-left: -.1rem ;
    top: .8rem ;
    animation: scrolling 1s infinite ease-in-out ;
    }
    
    @keyframes scrolling {
        80% {
            transform: translateY(100%);
        }
    } */
p .home{
    text-align: center;
    }

p,h1,h2,h3,h4{
    padding: 0 9vw;
    margin-bottom: 2rem;
    color:#223;
    }

a{
    text-decoration: none;
    color: hotpink;
    }

span{
    font-weight: bold;
    }

h1{
    margin-top: 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(72, 77, 94);
    }

h2,h3{
    margin-top: 2.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    }

h4{
    font-size: 1.3rem;
    margin-top: 2.2rem;
    }
    
.viajeBg{
    width: 100vw;
    height: 30vh;
    line-height: 30vh;
    background-image: url(ui-img/planear-viaj.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    }

.listOfLinks{
    padding: 0 3rem;
    }

.wrapLinks{
    position: relative;
    }

.pointer{
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1.90rem;
    top: .3rem;
    background-image: url(ui-img/pointer.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    }

.wrapOfLinks{
    position: relative; 
    }

.pointerInternet{
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1.90rem;
    top: .3rem;
    background-image: url(ui-img/pointer-internet.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    }

img article{
   

}